<%- include('includes/head') %>

<body>
    <section class="container">
        <h1>Modelo de página</h1>
        
        <% if(1+1 == 2) { %>
           <%- titulo %>
          <% console.log(1+1) %>
        <% } %>
    </section>

    <script src="./assets/js/bundle.js"></script>
</body>
</html>