* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.menu {
    background-color: black;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    position: fixed;
    top: 0;
}

.menu div {
    float: left;
    height: 100%;
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.menu div a {
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

.grid {
    box-sizing: border-box;
    width: 100%;
    height: 620px;
    padding: 0 10%;
    margin-top: 50px;
}

.colunas {
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.cont-colunas {
    background-color: yellow;
    width: 100%;
    height: 100%;
}

.conteudo {
    background-color: blueviolet;
    width: 100%;
    height: 800px;
    text-align: center;
    padding-top: 50px;
}

p {
    margin-bottom: 50px;
}

.menu div:hover {
    background-color: gray;
}